<!DOCTYPE html>
<html>
<head>
    <title>Learning App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learning App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    <div class="body-content">
        <br />
        <br />
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark" style="background-image:url('../../Images/footer.jpg'); background-size:cover; opacity: 1;">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h4 class="widget-title">Learning App</h4>
                            <p>
                                <h5>Our mission is to provide a free, world-class education to anyone, anywhere.<br />
                                Learning App is a nonprofit organization.<br /></h5>
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h4 class="widget-title">Quick Links<span></span></h4>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"><a href="@Url.Action("Index","Home")">Home</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="@Url.Action("Index","Login")">Login</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="@Url.Action("AddUsers","Login")">Register</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h4 class="widget-title">Get Started<span></span></h4>
                            <p><h5>Get access to your full Training and Marketing Suite.</h5></p>
                            <a href="@Url.Action("AddUsers","Login")"
                               class="btn btn-primary btn-sm">Register For Free</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="widget no-box">
                            <h4 class="widget-title">Contact Us<span></span></h4>
                            <p><h5><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></h5></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3> Copyright © 2020, Inc. @Html.ActionLink("Learning App", "Index", "Home")</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
