@using Business;

@{
    ViewBag.Title = "AfterLoginView";
}
<!DOCTYPE html>
<html>
<head>
    <title>Learning App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learning App", "Welcome", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
                    @if (Convert.ToInt32(@Session["Accountid"]) == 1)
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetAllCourse" ? "active" : "")">@Html.ActionLink("Courses", "GetAllCourse", "Course")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetAllCategory" ? "active" : "")">@Html.ActionLink("Categories", "GetAllCategory", "Category")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetAllCourseEnrolled" ? "active" : "")">@Html.ActionLink("Enrollments", "GetAllCourseEnrolled", "Enroll")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ProfileDetails" ? "active" : "")">@Html.ActionLink("Profile", "ProfileDetails", "Profile")</li>
                    }
                    @if (Convert.ToInt32(@Session["Accountid"]) == 2)
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetAllCourse" ? "active" : "")">@Html.ActionLink("Courses", "GetAllCourse", "Course")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetAllCourseEnrolled" ? "active" : "")">@Html.ActionLink("Enrollments", "GetAllCourseEnrolled", "Enroll")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ProfileDetails" ? "active" : "")">@Html.ActionLink("Profile", "ProfileDetails", "Profile")</li>
                    }
                    @if (Convert.ToInt32(@Session["Accountid"]) == 3)
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GetAllCourseEnrolled" ? "active" : "")">@Html.ActionLink("Enrollments", "GetAllCourseEnrolled", "Enroll")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ProfileDetails" ? "active" : "")">@Html.ActionLink("Profile", "ProfileDetails", "Profile")</li>
                    }
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span> Cart <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            @if (Session["cart"] != null)
                            {
                                foreach (var item in (List<EnrollModel>)Session["cart"])
                                {
                                    <li><a href="@Url.Action("RemoveCoursesFromCart", "Enroll", new { CourseId = item.Product.courseId })">@item.Product.courseName (@item.Quantity) <i class="glyphicon glyphicon-remove"></i></a></li>
                                }
                                <hr />
                                <li><a href="@Url.Action("CheckoutDetails", "Enroll")">Check Out</a></li>
                            }
                            else
                            {
                                <li><a>Cart is Empty.</a></li>
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        <br />
        <br />
        @RenderBody()

    </div>
    <!-- Footer -->
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark" style="background-image:url('../../Images/footer.jpg'); background-size:cover; opacity: 1;">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h4 class="widget-title">Learning App</h4>
                            <p>
                                <h5>
                                    Our mission is to provide a free, world-class education to anyone, anywhere.<br />
                                    Learning App is a nonprofit organization.<br />
                                </h5>
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h4 class="widget-title">Quick Links<span></span></h4>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"><a href="@Url.Action("Welcome","Login")">Home</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="@Url.Action("Logout","Login")">Logout</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h4 class="widget-title">Get Started</h4>
                            <div class="thumb-content"><a href="@Url.Action("GetAllCourse", "Course")">Get all Courses</a></div>
                        </div>
                    </div>
                   
                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="widget no-box">
                            <h4 class="widget-title">Contact Us<span></span></h4>
                            <p><h5><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></h5></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3> Copyright © 2020, Inc. @Html.ActionLink("Learning App", "Index", "Home")</h3>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
