@model IEnumerable<Business.CategoryModel>

@{
    ViewBag.Title = "GetAllCategory";
    Layout = "~/Views/Shared/AfterLoginView.cshtml";
}
<br />
<br />
<div class="container">
    <h4>
        @Html.ActionLink("Add New Category", "AddCategory")
    </h4>
    <hr />
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="\Images\CatThumbnail.jpg" alt="...">
                    <div class="caption">
                        <h3><b>@Html.DisplayNameFor(model => model.catName):</b> @Html.DisplayFor(modelItem => item.catName)</h3>
                        <p><b>@Html.DisplayNameFor(model => model.catId):</b> @Html.DisplayFor(modelItem => item.catId)</p>
                        <p><b>@Html.DisplayNameFor(model => model.catType):</b> @Html.DisplayFor(modelItem => item.catType)</p>
                        @if (Convert.ToInt32(@Session["Accountid"]) == 1)
                        {
                            <p>
                                @Html.ActionLink("Edit", "EditCatDetails", new { id = item.catId }) |
                                @Html.ActionLink("Delete", "DeleteCat", new { id = item.catId }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            </p>
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</div>
