@using Business;
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/AfterLoginView.cshtml";
}
<br />
<br />
<div class="container"><h2>Welcome: @System.Convert.ToString(Session["Name"])</h2><hr /></div>
<br />
@if (Convert.ToInt32(@Session["Accountid"]) == 1)
{
    <div class="container">
        <h3>Current Counts</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <a href="@Url.Action("GetAllCategory", "Category")" class="custom-card">
                    <div class="card-counter primary">
                        <i class="glyphicon glyphicon-list" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["CategoryCount"])</span>
                        <span class="count-name">Category</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("GetAllCourse", "Course")" class="custom-card">
                    <div class="card-counter danger">
                        <i class="	glyphicon glyphicon-education" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["CourseCount"])</span>
                        <span class="count-name">Courses</span>
                    </div>
                </a>
            </div>


            <div class="col-md-3">
                <div class="card-counter success">
                    <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                    <span class="count-numbers">@System.Convert.ToInt32(Session["AdminCount"])</span>
                    <span class="count-name">Admins</span>
                </div>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("GetAllInstructor", "Instructor")" class="custom-card">
                    <div class="card-counter primary">
                        <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["InstructorCount"])</span>
                        <span class="count-name">Instructors</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("GetAllUser", "User")" class="custom-card">
                    <div class="card-counter info">
                        <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["UserCount"])</span>
                        <span class="count-name">Users</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
else if (Convert.ToInt32(@Session["Accountid"]) == 2)
{
    <div class="container">
        <h3>Current Counts</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="card-counter primary">
                    <i class="glyphicon glyphicon-list" style="float:left; margin-left:20px;"></i>
                    <span class="count-numbers">@System.Convert.ToInt32(Session["CategoryCount"])</span>
                    <span class="count-name">Category</span>
                </div>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("GetAllCourse", "Course")" class="custom-card">
                    <div class="card-counter danger">
                        <i class="	glyphicon glyphicon-education" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["CourseCount"])</span>
                        <span class="count-name">Courses</span>
                    </div>
                </a>
            </div>


            <div class="col-md-3">
                <div class="card-counter success">
                    <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                    <span class="count-numbers">@System.Convert.ToInt32(Session["AdminCount"])</span>
                    <span class="count-name">Admins</span>
                </div>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("GetAllInstructor", "Instructor")" class="custom-card">
                    <div class="card-counter primary">
                        <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["InstructorCount"])</span>
                        <span class="count-name">Instructors</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="@Url.Action("GetAllUser", "User")" class="custom-card">
                    <div class="card-counter info">
                        <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["UserCount"])</span>
                        <span class="count-name">Users</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <h3>Current Counts</h3>
        <hr />
        <div class="row">

            <div class="col-md-3">
                <a href="@Url.Action("GetAllCourse", "Course")" class="custom-card">
                    <div class="card-counter danger">
                        <i class="	glyphicon glyphicon-education" style="float:left; margin-left:20px;"></i>
                        <span class="count-numbers">@System.Convert.ToInt32(Session["CourseCount"])</span>
                        <span class="count-name">Courses</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <div class="card-counter primary">
                    <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                    <span class="count-numbers">@System.Convert.ToInt32(Session["InstructorCount"])</span>
                    <span class="count-name">Instructors</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter info">
                    <i class="glyphicon glyphicon-user" style="float:left; margin-left:20px;"></i>
                    <span class="count-numbers">@System.Convert.ToInt32(Session["UserCount"])</span>
                    <span class="count-name">Users</span>
                </div>
            </div>
        </div>
    </div>
}
<br />
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="\Images\1.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Learn From The Best Courses</h3>
                <p>Join Today</p>
            </div>
        </div>
        <div class="item">
            <img src="\Images\2.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Learn From The Best Instructors</h3>
                <p>Join Today</p>
            </div>
        </div>
        <div class="item">
            <img src="\Images\3.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Be The Best</h3>
                <p>Join Today</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<br />
<div style="background-image:url('../../Images/home7.jpg'); background-size:cover; height:600px;">
    <center>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top:30px;">
            <h1 style="color:white; font-size: 60px;">BOOST YOUR CAREER</h1>
            <h2 style="color:white; font-size: 40px;">Find a top degree that fits your life</h2>
            <p style="color: white; font-size: 20px;">
                Earn your bachelor’s or master’s degree online from a leading university for much less than similar on-campus programs. Learn from the same professors and graduate with the same credential as students who study on-campus.
            </p>
        </div>
        <br />
    </center>
</div>





