@using Business;
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/AfterLoginView.cshtml";
}
<br />
<h2>Checkout Details</h2>
<hr />
@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Line Total</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @{
                int Total = 0;
            }
            @foreach (EnrollModel item in (List<EnrollModel>)Session["cart"])
            {

                int lineTotal = Convert.ToInt32(item.Quantity * item.Product.coursePrice);
                Total = Convert.ToInt32(@Total + lineTotal);
                <tr>
                    <td>@item.Product.courseName</td>
                    <td>@item.Product.coursePrice</td>
                    <td>@lineTotal</td>
                    <td>
                        @*<a href="@Url.Action("AddCoursesToCart", "Enroll", new { CourseId = item.Product.courseId, url="CheckoutDetails" })">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>*@
                        <a href="@Url.Action("RemoveCoursesFromCart", "Enroll", new { CourseId = item.Product.courseId, url="CheckoutDetails" })">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }

            <tr>
                <td colspan="6" class="text-right"><b>Total: @Total</b></td>
            </tr>

        </tbody>
    </table>
    if (Total <= Convert.ToInt32(@Session["wallet"]))
    {
        <a id="btn_add" href="@Url.Action("GetAllCourseEnroll", "Enroll")" class="btn btn-info btn-sm">
            Enroll
        </a>
    }
    else
    {
        <h2>Insufficient Funds to Enroll the Courses. Please Add Funds before Enrolling.</h2>
    }
    

}