@model IEnumerable<Business.EnrollModel>

@{
    ViewBag.Title = "EnrolledVideo";
    Layout = "~/Views/Shared/AfterLoginView.cshtml";
}
@foreach (var item in Model)
{
<div class="container">
    <h3><b>@Html.DisplayNameFor(model => model.courseName):</b> @Html.DisplayFor(modelItem => item.courseName)</h3>
    <hr />
    <h3>@Html.ActionLink("Back to Enrolled List", "GetAllCourseEnrolled", "Enroll")</h3>
    <br />
</div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe style="width:100%; height:600px;" src="@System.Convert.ToString(@item.CourseVideoLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
}

